.map{
    width: auto;
    background-color: white;
    border: 10px solid black;
    border-radius: 20px;
}

.main{
    display: flex;
    flex-direction: column; 
}

.row{
    height: 100px;
}

.scaffold:hover{
    opacity: 0.5;
    cursor: pointer;
    transition: 0.1s ease-in-out;
}

.agent{
    height: 100px;
    width: auto;
    position: absolute;
    transform: translate(-100%);
    z-index: 10;
}

.contentHolder{
    width: 100%;
    height: 100%;
    display: inline;
}
