.App-header {
  display: flex;
  justify-content: center;
  gap: 200px;
  color: white;
  padding: 20px;
}

.link{
  text-decoration: none;
  color: white;
  background-color: midnightblue;
  padding:  10px 20px;
  border-radius: 5px;
}

.link:hover{
  transform: translate(0, -2px);
  transition: 0.2s ease-in-out;
}


