.hiddenSidebar, .sidebar{
    background-color: #fff;
    transition: 0.2s ease-in-out;
    padding: 20px;
    position: absolute;
    left: 0;
    top: 0;
    overflow-y: auto;
    height: 100vh;
    border: 3px solid black;
}

.hiddenSidebar{
    transform: translate(-100%);
}

.inputi{
    display: flex;
    flex-direction: column;
    width: 150px;
    margin: 10px;
}

.hiddenSidebarContent{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    margin: 5px 0;
}

.nums{
    border-radius: 8px;
    border: 2px solid black;
    padding: 5px;
}

.agent{
    width: 40px;
    height: 40px;
}

.agentButton{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 8px;
    padding: 5px;
    background-color: #fff;
    cursor: pointer;
}

.selected{
    background-color: rgb(165, 165, 165);
}

.disturb{
    width: 40px;
    height: 40px;
    border: none;
}

.closeIcon{
    cursor: pointer;
    width: 30px;
    height: 30px;
    border: none;
    text-align: end;
    right: 0;
}

.closeP{
    text-align: end;
    margin: 0;
}

.titles{
    text-align: center;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.close, .save{
    padding: 10px 20px;
    margin-top: 30px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

.close{
    background-color: red;
    border: 2px solid red;
}

.save{
    background-color: green;
    border: 2px solid green;
}

.imgContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.imgContainer img{
    width: 40px;
    height: auto;
}